mat-form-field {
  background-color: #eeeeee;
  font-size: 14px;
  width: 100%;
}

.mat-cell {
  font-size: 20px;
  padding: 24px;
}

.mat-header-cell {
  font-size: 20px;
}

.mat-table {
  margin-top: 10px;
}

.language {
  font-size: 20px;
}
