mat-form-field {
  font-size: 14px;
  width: 100%;
  background-color: #eeeeee;
}

.mat-cell {
  font-size: 20px;
  padding: 24px;
}

.mat-header-cell {
  font-size: 20px;
}

.language {
  font-size: 20px;
}
