.dialog-title {
  cursor: default;
  font-family: 'Helvetica', serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.content{
  cursor: default;
  font-family: 'Helvetica', serif;
  font-size: 30px;
  padding: 45px;
}
