<table mat-table [dataSource]="callingCodes$" matSort>
  <ng-container matColumnDef="countryName">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
  <td mat-cell *matCellDef="let countries"> {{ countries.name }}</td>
  </ng-container>

  <ng-container matColumnDef="calling-codes">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Calling-Codes </th>
  <td mat-cell *matCellDef="let countries"> {{ countries.callingCodes }}</td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

</table>
