/* .mat-icon-button {
  position: absolute;
  left: 15px;
} */

span {
  cursor: pointer;
}

.toolbar {
  background: none;
  background-color: #eeeeee;
  font-size: 40px;
  justify-content: center;
}
